
p {
  color: #000000;
	text-align: left;
	margin-top: 50px;
  margin-bottom: 200px;
  margin-right: 180px;
  font-size: 25px;
}

h1 {
	color: #154360;
	text-align: center;
	font-family: 'Karma', serif;
	font-size: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #154360;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 160px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.stuff {
  display: block;
  text-align: left;
  margin-left: 260px;
  font-family: 'Karma', serif;
  font-size: 18px;
}

body {
  background-color: rgb(255, 235, 217);
}





